#general-container {
    display: flex;
}

#grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.square-container {
    display: flex;
}

.square {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    margin: 2px;
}

.active {
    background-color: blue;
  }