#general-container {
    display: flex;
}

#grid-container {
    margin: 50px;
    border: 1px solid black;
}

.square-container {
    display: flex;
    max-width: 600px;
}

.square {
    position: relative;
	width: 600px;
    border: 1px solid rgba(0, 0, 0, 0.089);
}

.square::before {
    content: '';
    display: block;
    padding-top: 100%;
}

